body.dark {
  background: #0f172a;
  color: #e5e7eb;
}

body.dark .dashboard-header,
body.dark .study-box,
body.dark .todo-box,
body.dark .chat-box,
body.dark .profile-card {
  background: #020617;
  color: #e5e7eb;
}

body.dark table th {
  background: #1e40af;
}

body.dark table td {
  color: #e5e7eb;
}

.auth-box {
  max-width: 350px;
  margin: 80px auto;
  padding: 20px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.auth-box input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.auth-box button {
  width: 100%;
  padding: 8px;
  background: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
}
